
body {
  background-color: #fafafa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: gfs-didot, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  /*color: #594b3f;*/
  color: #48454C;

}

p {
  font-family: source-sans-pro, sans-serif;
  font-size: 1em;
  line-height: 1.6;
  /*color: #A19A8B;*/
  color: #A29EA2;
}

hr {
  border-color: #999999;
  max-width: 400px;
}

.welcome {
  color: #A58FA8;
}

.header {
  z-index: 2;
  /*background-image: url(https://scontent-a-iad.xx.fbcdn.net/hphotos-xpa1/t1.0-9/10441007_10202180539176445_7955040795142235919_n.jpg);*/
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
  color: #A58FA8;
  color: #48454C;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.nav>li>a {
  color: #A58FA8;
}

.box {
  padding: 30px 15px 15px;
}

.nav li a:hover {
  text-decoration: none;
  font-weight: 400;
  background-color: #A58FA8;
  color: #fafafa;
}

.hero {
  max-width: 560px;
  margin: 0 auto;
}

#about {
  /*margin-left: 50px;*/
}

.about p{
  padding: 10px;
  padding-left: 20px;
}

.me {
  float: left;
  z-index: 1;
}

.imgs {
  margin-right: 5px;
  margin-top: 30px;
}


footer {
  /*background: #fff;*/
  /*background: rgba(255,255,255,0.9);*/
  margin-top: 45px;
}

/*back to top*/
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    right: 10px;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    right: 10px;
}

.chevron {
  color: #f36d28;
}